<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta  name="description" content="Follow the latest post on JAVA technology and more on palsuman.github.io" />
    <meta  name="keywords" content="Technical Blog" />
    <meta property="og:title" content="Technical Blog -- Suman Pal" >
    <meta property="og:description" content="Follow the latest post on JAVA technology and more on palsuman.github.io" >
    <meta property="og:site_name" content="palsuman.github.io" >
    <meta property="og:type" content="website ">
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="palsuman.github.io ">
    <meta property="og:image" content="http://palsuman.github.io/img/avatar.jpg " >
    <meta name="author" content="Suman Pal">
	<meta name="twitter:site" value="@fumansun">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://palsuman.github.io/">
	<meta name="twitter:title" content="Technical Blog -- Suman Pal">
	<meta name="twitter:description" content="Follow the latest post on JAVA technology and more on palsuman.github.io">
	<meta name="twitter:image" content="http://palsuman.github.io/img/avatar.jpg">
	<link rel="icon" href="http://palsuman.github.io/img/favicon.ico" />
	<meta itemprop="name" content="Technical Blog -- Suman Pal">
	<meta itemprop="description" content="Follow the latest post on JAVA technology and more on palsuman.github.io">
	<meta itemprop="image" content="http://palsuman.github.io/img/avatar.jpg">
	<meta itemprop="url" content="http://palsuman.github.io/" />
	<meta itemprop="editor" content="Suman Pal" />
	<meta itemprop="inLanguage" content="English" />
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
</head>
